<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Почта</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>


<div class="container-fluid">
    <div class="row">
        <div class="col-1 position-fixed" style="width: 18vw;">
            <br>
            <div class="badge bg-light text-dark align-middle text-center" style="width: 16vw; max-width: 175px;">
                <p th:text="${currentUser}"
                   style="font-size: calc(1vw + 5px);display: table-cell; vertical-align: middle;">
                    currentUser
                </p>
            </div>
            <br>
            <br>
            <div class="d-grid mx-auto">
                <a class="btn btn-primary mb-1"
                   style="width: 16vw; max-width: 175px;font-size: calc(0.5vw + 0.5vh);display: table-cell; vertical-align: middle;"
                   href="/message/all">Сообщения</a>
                <a class="btn btn-outline-primary mb-1"
                   style="width: 16vw; max-width: 175px;font-size: calc(0.5vw + 0.5vh);display: table-cell; vertical-align: middle;"
                   href="/chat/all">Мгновенные сообщения</a>
                <a class="btn btn-outline-primary mb-1"
                   style="width: 16vw; max-width: 175px;font-size: calc(0.5vw + 0.5vh);display: table-cell; vertical-align: middle;"
                   href="/task/all">Задачи</a>
                <a class="btn btn-outline-primary mb-1"
                   style="width: 16vw; max-width: 175px;font-size: calc(0.5vw + 0.5vh);display: table-cell; vertical-align: middle;"
                   href="/meeting/all">Встречи</a>
                <a class="btn btn-outline-primary mb-1"
                   style="width: 16vw; max-width: 175px;font-size: calc(0.5vw + 0.5vh);display: table-cell; vertical-align: middle;"
                   href="/rule/all">Почтовые правила</a>
                <a class="btn btn-outline-primary mb-1"
                   style="width: 16vw; max-width: 175px;font-size: calc(0.5vw + 0.5vh);display: table-cell; vertical-align: middle;"
                   href="/signal/all">Сигнальные правила</a>
            </div>
            <form th:action="@{/makeLogout}" method="post" class="fixed-bottom ms-4 me-3 mb-5">
                <button type="submit" class="btn btn-warning">Выйти</button>
            </form>
        </div>
        <div class="col-11" style="width: 75vw; margin-left: 18vw">
            <br>
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-3 mt-3">
                    <div class="badge bg-success text-wrap text-center" style="width: 80%;">
                        <h1>Список писем</h1>
                    </div>
                </div>
            </div>

            <div th:if="${param.login}" class="alert alert-info text-center mb-3 mt-3" role="alert">
                Добро пожаловать!
            </div>

            <div th:if="${param.messageSent}" class="alert text-center alert-success mb-3 mt-3" role="alert">
                Письмо отправлено пользователю <span th:text="${param.userName}"></span>
            </div>

            <div th:if="${param.messageDeleted}" class="alert text-center alert-danger mb-3 mt-3" role="alert">
                Письмо удалено
            </div>

            <div th:if="${param.messagesDeleted}" class="alert text-center alert-danger mb-3 mt-3" role="alert">
                Письма удалены
            </div>

            <br>

            <form th:action="@{/message/delete}" th:object="${messagesForm}" th:method="post">
                <div class="btn-group">
                    <button th:formaction="@{/message/new}" value="sendMessage" class="btn btn-primary me-2 fw-bold">
                        Написать
                        письмо
                    </button>
                    <button type="submit" value="deleteMessages" class="btn btn-danger me-2 fw-bold">Удалить</button>
                </div>

                <div class="card mt-3 mb-3" th:each="message, index : *{messages}">
                    <div class="form-check card-header ">
                        <input type="hidden" th:field="*{messages[__${index.index}__].uid}">
                        <input type="hidden" th:field="*{messages[__${index.index}__].text}">
                        <input type="hidden" th:field="*{messages[__${index.index}__].userLogin}">
                        <input type="hidden" th:field="*{messages[__${index.index}__].title}">
                        <input type="hidden" th:field="*{messages[__${index.index}__].replyFrom}">
                        <input type="hidden" th:field="*{messages[__${index.index}__].replyText}">
                        <input type="hidden" th:field="*{messages[__${index.index}__].replyTitle}">
                        <input type="hidden" th:field="*{messages[__${index.index}__].selected}">
                        <input type="hidden" th:field="*{messages[__${index.index}__].reply}">
                        <input type="hidden" th:field="*{messages[__${index.index}__].forward}">
                        <input type="hidden" th:field="*{messages[__${index.index}__].haveTask}">
                        <input type="hidden" th:field="*{messages[__${index.index}__].haveMeeting}">


                        <input class="form-check-input p-3 gx-10 ms-0 me-2"
                               type="checkbox"
                               name="selectedMessages"
                               th:value="${message.uid}"
                               th:checked="${message.selected}"
                               id="flexCheckDefault"/>
                        <div class="h2 mt-0" th:text="${message.userLogin+(message.reply?' ↩':'')}">login
                        </div>
                    </div>
                    <div class="card-body ps-5 pe-5" th:object="${messagesForm}">
                        <div th:if="${message.reply}">
                            <div class="card">
                                <div class="card-header ">
                                    <div class="h5 mt-0">Ваше сообщение</div>
                                </div>
                                <div class="card-body">
                                    <th:block th:if="${message.replyText}">
                                        <th:block th:each="str, stat : ${message.replyText.split('\r\n|\r|\n', -1)}">
                                            <th:block class="p card-text" th:text="${str}"/>
                                            <br th:if="${!stat.last}"/>
                                        </th:block>
                                    </th:block>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div th:if="${message.forward}">
                            <div class="card">
                                <div class="card-header">
                                    <span class="badge bg-primary text-wrap"
                                          style="width: 11rem;">Пересланное сообщение</span>
                                    <div class="h5 mt-0" th:text="${message.replyFrom}">replyFrom</div>
                                </div>
                                <div class="card-body">
                                    <th:block th:if="${message.replyText}">
                                        <th:block th:each="str, stat : ${message.replyText.split('\r\n|\r|\n', -1)}">
                                            <th:block class="p card-text" th:text="${str}"/>
                                            <br th:if="${!stat.last}"/>
                                        </th:block>
                                    </th:block>
                                </div>
                            </div>
                            <br>
                        </div>
                        <h5 class="card-title" th:text="${message.title}">title</h5>
                        <div class="card-text mb-3">
                            <th:block th:if="${message.text}">
                                <th:block th:each="str, stat : ${message.text.split('\r\n|\r|\n', -1)}">
                                    <th:block th:text="${str}"/>
                                    <br th:if="${!stat.last}"/>
                                </th:block>
                            </th:block>
                        </div>
                        <div th:if="${message.tasks!=null && !message.tasks.isEmpty()}"
                             class="row justify-content-center">
                            <div class="col-md-6 text-center mb-3">
                                <div class="badge bg-success text-wrap text-center" style="width: 60%;">
                                    <h5>Задачи</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3" style="min-width: 700px;max-width:1000px;margin: auto"
                             th:each="task, taskIndex : ${message.tasks}">
                            <input type="hidden"
                                   th:field="*{messages[__${index.index}__].tasks[__${taskIndex.index}__].taskUid}">
                            <input type="hidden"
                                   th:field="*{messages[__${index.index}__].tasks[__${taskIndex.index}__].uid}">
                            <input type="hidden"
                                   th:field="*{messages[__${index.index}__].tasks[__${taskIndex.index}__].percentComplete}">
                            <input type="hidden"
                                   th:field="*{messages[__${index.index}__].tasks[__${taskIndex.index}__].fieldsDisabled}">

                            <div class="input-group form-check card-header">
                                <div class="form-floating" style="width: calc(100% - 57px);">
                                    <input type="text" class="form-control fw-bold fs-4"
                                           placeholder="Enter login"
                                           id="taskText"
                                           th:field="*{messages[__${index.index}__].tasks[__${taskIndex.index}__].taskText}"
                                           th:value="${task.taskText}"
                                           th:readonly="${task.fieldsDisabled}"
                                           style="height: 50px"/>
                                    <label class="mt-0 pt-2" for="taskText">Название задачи</label>
                                </div>
                            </div>

                            <div class="card-body ps-5 pe-5">
                                <div class="row">

                                    <div class="col">
                                        <div class="col mb-0" style="max-width: 220px">
                                            <h5>Начало выполнения</h5>
                                        </div>
                                        <div class="col"
                                             style="max-width: 195px">
                                            <input th:field="*{messages[__${index.index}__].tasks[__${taskIndex.index}__].timeStart}"
                                                   th:readonly="${task.fieldsDisabled}"
                                                   th:value="${#temporals.format(task.timeStart, 'yyyy-MM-dd''T''HH:mm')}"
                                                   type="datetime-local" class="form-control"
                                            />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="col mb-0" style="max-width: 200px">
                                            <h5>Срок выполнения</h5>
                                        </div>
                                        <div class="col"
                                             style="max-width: 195px">
                                            <input th:field="*{messages[__${index.index}__].tasks[__${taskIndex.index}__].timeEnd}"
                                                   th:readonly="${task.fieldsDisabled}"
                                                   th:value="${#temporals.format(task.timeEnd, 'yyyy-MM-dd''T''HH:mm')}"
                                                   type="datetime-local"
                                                   class="form-control"
                                            />
                                        </div>
                                    </div>
                                    <div class="col pt-3">
                                        <button class="col btn btn-success fw-bold" style="width: 90px; height: 50px"
                                                value="createTask"
                                                th:if="${!task.fieldsDisabled}"
                                                th:formaction="@{/message/{messageUid}/createTask/{taskIndex}(taskIndex=${taskIndex.index}, messageUid=${message.uid})}">
                                            Создать
                                        </button>

                                        <button class="col-1 ms-1 btn btn-danger fw-bold"
                                                style="width: 50px;height: 50px"
                                                value="deleteTask"
                                                th:if="${!task.fieldsDisabled}"
                                                th:formaction="@{/message/{messageUid}/deleteTask/{taskIndex}(taskIndex=${taskIndex.index}, messageUid=${message.uid})}">
                                            -
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div th:if="${message.meetings!=null && !message.meetings.isEmpty()}"
                             class="row justify-content-center">
                            <div class="col-md-6 text-center mb-3">
                                <div class="badge bg-warning text-wrap text-black text-center" style="width: 60%;">
                                    <h5>Встречи</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3" th:each="meeting, meetingIndex : ${message.meetings}"
                             style="min-width: 700px; max-width: 1000px; margin: auto">
                            <input type="hidden"
                                   th:field="*{messages[__${index.index}__].meetings[__${meetingIndex.index}__].itemUid}">
                            <input type="hidden"
                                   th:field="*{messages[__${index.index}__].meetings[__${meetingIndex.index}__].fieldsDisabled}">
                            <input type="hidden"
                                   th:field="*{messages[__${index.index}__].meetings[__${meetingIndex.index}__].uid}">
                            <div class="input-group form-check card-header">
                                <div class="form-floating" style="width: calc(100% - 57px);">
                                    <input type="text" class="form-control fw-bold fs-4"
                                           placeholder="Enter login"
                                           id="meetingText"
                                           th:field="*{messages[__${index.index}__].meetings[__${meetingIndex.index}__].meetingText}"
                                           th:value="${meeting.meetingText}"
                                           th:readonly="${meeting.fieldsDisabled}"
                                           style="height: 50px"/>
                                    <label class="mt-0 pt-2" for="meetingText">Тема встречи</label>
                                </div>
                            </div>
                            <div class="card-body ps-5 pe-5">
                                <div class="row">
                                    <div class="col">
                                        <div class="col mb-0" style="max-width: 220px">
                                            <h5>Начало</h5>
                                        </div>
                                        <div class="col"
                                             style="max-width: 195px">
                                            <input th:field="*{messages[__${index.index}__].meetings[__${meetingIndex.index}__].timeStart}"
                                                   th:value="${#temporals.format(meeting.timeStart, 'yyyy-MM-dd''T''HH:mm')}"
                                                   type="datetime-local" class="form-control"
                                                   th:readonly="${meeting.fieldsDisabled}"
                                            />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="col mb-0" style="max-width: 200px">
                                            <h5>Окончание</h5>
                                        </div>
                                        <div class="col"
                                             style="max-width: 195px">
                                            <input th:field="*{messages[__${index.index}__].meetings[__${meetingIndex.index}__].timeEnd}"
                                                   th:value="${#temporals.format(meeting.timeEnd, 'yyyy-MM-dd''T''HH:mm')}"
                                                   type="datetime-local"
                                                   class="form-control"
                                                   th:readonly="${meeting.fieldsDisabled}"
                                            />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="col mb-0" style="max-width: 200px">
                                            <h5>Организатор</h5>
                                        </div>
                                        <div class="col "
                                             style="max-width: 195px"><p class="fs-5 fw-bold"
                                                                         th:text="${meeting.organizer}">Имя
                                            организатора</p>
                                            <input type="hidden"
                                                   th:field="*{messages[__${index.index}__].meetings[__${meetingIndex.index}__].organizer}"/>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="col mb-0" style="max-width: 200px">
                                            <h5>Участники</h5>
                                        </div>
                                        <div class="row ms-0">
                                            <input type="hidden"
                                                   th:field="*{messages[__${index.index}__].meetings[__${meetingIndex.index}__].attendees}">
                                            <input th:each="attendee, item : ${meeting.getAttendees()}"
                                                   th:field="*{messages[__${index.index}__].meetings[__${meetingIndex.index}__].attendees[__${item.index}__]}"
                                                   id="attendee"
                                                   type="text"
                                                   class="form-control col mt-1 ms-1"
                                                   th:readonly="${meeting.fieldsDisabled}"
                                                   style="min-width: 100px; max-width: 100px"
                                            />


                                            <div class="row">
                                                <button class="h-100 btn btn-primary col mt-1 ms-1"
                                                        style="max-width: 48px"
                                                        value="addAttendee"
                                                        th:if="${!meeting.fieldsDisabled}"
                                                        th:formaction="@{/message/{messageUid}/addAttendee/{meetingIndex}(meetingIndex=${meetingIndex.index}, messageUid=${message.uid})}">
                                                    +
                                                </button>
                                                <button class="h-100 btn btn-primary col mt-1 ms-1"
                                                        style="max-width: 48px"
                                                        value="removeAttendee"
                                                        th:if="${!meeting.getAttendees().isEmpty() && !meeting.fieldsDisabled} "
                                                        th:formaction="@{/message/{messageUid}/removeAttendee/{meetingIndex}(meetingIndex=${meetingIndex.index}, messageUid=${message.uid})}">
                                                    -
                                                </button>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="col">
                                    <button class="col btn btn-warning fw-bold" style="width: 90px; height: 50px"
                                            value="createMeeting"
                                            th:if="${!meeting.fieldsDisabled}"
                                            th:formaction="@{/message/{messageUid}/createMeeting/{meetingIndex}(meetingIndex=${meetingIndex.index}, messageUid=${message.uid})}">
                                        Создать
                                    </button>

                                    <button class="col-1 ms-1 btn btn-danger fw-bold"
                                            style="width: 50px;height: 50px"
                                            value="deleteMeeting"
                                            th:if="${!meeting.fieldsDisabled}"
                                            th:formaction="@{/message/{messageUid}/deleteMeeting/{meetingIndex}(meetingIndex=${meetingIndex.index}, messageUid=${message.uid})}">
                                        -
                                    </button>
                                </div>


                            </div>


                        </div>


                        <button class="btn btn-primary fw-bold" value="replyMessage"
                                th:formaction="@{/message/replyTo/{uid}(uid=${message.uid})}">
                            Ответить
                        </button>
                        <button class="btn btn-primary fw-bold" value="forwardMessage"
                                th:formaction="@{/message/forwardTo/{uid}(uid=${message.uid})}">
                            Переслать
                        </button>
                        <button class="btn btn-success fw-bold" value="createNewTask" th:if="${message.haveTask}"
                                th:formaction="@{/message/createNewTask/{uid}(uid=${message.uid})}">
                            Создать задачу
                        </button>
                        <button class="btn btn-warning fw-bold" value="createNewMeeting" th:if="${message.haveMeeting}"
                                th:formaction="@{/message/createNewMeeting/{uid}(uid=${message.uid})}">
                            Создать встречу
                        </button>
                    </div>


                </div>
            </form>
        </div>
    </div>
    <br>
</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
        integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
        crossorigin="anonymous"></script>
</body>
</html>